.finance-section{
    background-color: $background-color-one;

    .finance-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 18px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .finance-item {
        // width: 362px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .finance_icon-box {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $accent-color-green;
        margin-bottom: 10px;
        align-content: center;
    }

    .finance-title {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.66;
    }

    .finance-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
    }
}
