.header {
    position: absolute;
    width: 100%;

    .header-box {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        color: $bright-text;
        text-align: center;
        align-items: center;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 10px;
        }
        @media screen and (min-width: 1360px) {
            padding-top: 11px;
            padding-left: 50px;
            padding-right: 46px;
        }
    }
    .company-name {
        display: flex;
        margin-top: 21px;
        margin-bottom: 10px;
        align-items: center;
        @media screen and (min-width: 768px) {
            justify-content: baseline;
            margin-top: 0;
            margin-bottom: 0;
        }
        .logo {
            margin-right: 6px;
            @media screen and (min-width: 768px) {
                margin-right: 10px;
            }
        }
        .name {
            font-size: 32px;
            font-weight: 400;
            line-height: 1.3;
            @media screen and (min-width: 768px) {
                font-size: 35px;
            }
            .accent-title {
                color: $accent-color-green;
            }
        }
    }
    .navigation-box {
        width: 100%;
        @media screen and (min-width: 768px) {
            width: auto;
        }
        .nav-list {
            max-width: 300px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            @media screen and (min-width: 768px) {
                max-width: 350px;
                justify-content: baseline;
                gap: 18px;
            }
            @media screen and (min-width: 1360px) {
                max-width: 450px;
                gap: 38px;
            }
            .nav-link {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.6;
                @media screen and (min-width: 768px) {
                    font-size: 18px;
                }
            }
        }
    }
}