.hero {
    // margin: 0 auto;
    // min-width: 320px;
    // height: 533px;
    color: $bright-text;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/Hero-mobile-x1.jpg);
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/Hero-mobile-x2.jpg');
    }
    @media screen and (min-width: 480px) {
        background-image: url('../images/Hero-tablet-x1.jpg');
        
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/Hero-tablet-x2.jpg');
        }
    }
    @media screen and (min-width: 769px) {
        background-image: url('../images/Hero-desktop-x1.jpg');
        
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/Hero-desktop-x2.jpg');
        }
    }
    
    // @media screen and (min-width: 1200px) {
    //     height: 768px;
    //     max-width: 1360px;
    // }

    .hero-title-box {
        padding-top: 279px;

        .hero-title {
            margin-bottom: 25px;
            font-weight: 300;
            font-size: 55px;
            line-height: 1.2;
        }
        .hero-description {
            margin-bottom: 29px;
            font-weight: 400;
            font-size: 22px;
            line-height: 1.67;
        }
        .hero-button {
            width: 165px;
            height: 48px;
            background-color: $accent-color-green;
            border-radius: 5px;
            color: $bright-text;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.6;
        }
    }
}