.provide-section {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    .provide-image {
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 50vw;
        }
    }
    .provide-description-box {
        background-color: $accent-color-green;
        color: $bright-text;
        padding: 30px;
        @media screen and (min-width: 768px) {
                width: calc(50vw - 70px);
                height: auto;
                padding-right: 40px;
            }
        @media screen and (min-width: 1360px) {
            padding-top: 84px;
            padding-right: 44px;
        }
        .provide-subtitle {
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.66;
            @media screen and (min-width: 768px) {
                font-size: 20px;
            }
        }
        .provide-title {
            margin-bottom: 25px;
            font-weight: 300;
            font-size: 38px;
            line-height: 1.26;
            @media screen and (min-width: 768px) {
                margin-bottom: 26px;
            }
        }
        .provide-text {
            margin-bottom: 14px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            @media screen and (min-width: 768px) {
                margin-bottom: 20px;
                font-size: 18px;
            }
            @media screen and (min-width: 768px) {
                margin-bottom: 17px;
            }
        }
    }

    .provide-button{
        background-color: $accent-color-green;
        color: $bright-text;
        width: 158px;
        height: 47px;
        border: 1px solid;
        border-radius: 5px;
        margin-left: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        @media screen and (min-width: 768px) {
            width: 167px;
            height: 50px;
            font-size: 18px;
        }
    }
}