body {
    font-family: $font-family;
    font-style: normal;
    background-color: $background-color-one;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $bright-text;
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    font-family: inherit;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}