$font-family: 'Open Sans', sans-serif;
$background-color-one: #ffffff;
$background-color-two: #F4F4F4;
$background-color-footer: #333333;
$bright-text: #ffffff;
$dark-text: #333333;
$accent-color-blue: #0284D0;
$accent-color-green: #28A745;
